*{margin: 0;padding: 0}
li{list-style-type: none;}
.All{border:1px solid #bbb; cursor: pointer;}
.All ul{display: none;}
.All h3{border: 1px solid #ccc; height: 40px; line-height: 40px; color: #444; text-align: center; font-size: 12px; font-family: "Microsoft Yahei";}
.All li{padding: 10px 0 10px 0;font-size: 12px;line-height: 20px;color: #111;background-color: #FFF;text-align: center;}
.All li:hover{color: #FFF;background-color: #111;}
.person1{width: 300px;margin-top: 100px;}