*{margin: 0;padding: 0}
li{list-style-type: none;}
a{text-decoration: none;}


body{font: 12px/1.125 Arial,Helvetica,sans-serif;background-image: url("images/body_bg.png");background-repeat:no-repeat;position: relative;}

#top{width: 100%;height: 39px;background-image: url("images/bg_nav.png");border-bottom: 2px solid rgb(255,75,65);position: fixed;}
#top1{width: 980px;margin: 0 auto;height: 39px;}

#top-logo{width: 190px;height: 39px;display: block;float: left;background-image: url("images/bg_line.png");background-position: -548px -4px;}
#top-nav{width: 276px;height: 39px;float: left;position: relative;}
#top-search{width: 225px;float: left;height: 24px;margin-top: 7px;background-color: #FFF;margin-left: 10px;border-radius: 10px;position: relative;}
#top-person{width: 242px;float: left;height: 39px;padding-left: 25px;}
.title:hover{background-color: #000;}
.link{display: none;width: 190px;height: 39px;background-image: url("images/bg_line.png");background-position: -1680px -4px;}
.title{width: 67px;height: 39;float: left;text-align: center;padding-right: 2px;}
.title1{width: 67px;height: 39;float: left;text-align: center;padding-right: 2px;}
.avtive{background-color: #000;}
.title1A{background-color: #000;color: #FFF;text-align: center;line-height: 39px;font-size: 14px;display: inline-block;font-family: 微软雅黑;cursor: pointer;width: 69px;height: 38px;display: block;}
.titleA{color: #FFF;text-align: center;line-height: 39px;font-size: 14px;display: inline-block;font-family: 微软雅黑;cursor: pointer;width: 69px;height: 39px;display: block;}
/*下拉*/
.botlist{z-index: 900; width: 568px;height: 255px;position: absolute;border: 1px solid rgb(51,51,51);border-top: none; top: 39px;left: 0px;background-color: #FFF;padding: 10px;display: none;}
.list{width: 380px;float: left;height: 268px;}
.{display: block;}

/*下拉搜索框*/
.plus{position: absolute;width: 225px;height:253px;background-color: #FFF;display: none;top: 28px;padding-top: 10px;}
.plusp{height: 22px;line-height: 22px;color: rgb(51,51,51);padding-left: 20px;cursor: pointer;}
.spcp{background-color: rgb(230,230,230);}

.enter{width: 185px;float: right;height: 268px;}
.clearfix{height: 20px;margin-left: 5px;margin-top: 10px;}
.txt1{display: block;float: left;width: 60px;height: 20px;color: #333;font-weight: bold;}
.txt2{display: block;float: left;width: 220px;height: 5px;border-bottom: 1px solid rgb(230,230,230);}
.xhtext{width: 300px;}
.txt3{display: block;float: left;width: 80px;height: 20px;margin-left: 5px;}
.spleft{width: 22px;height: 22px;float: left;display: block;background-color: rgb(252,242,242);border: 1px solid rgb(217,217,217);}
.leftem{width:8px;height: 13px;display: block;background-image: url("images/icon.gif");background-position: -175px -112px;background-repeat: no-repeat;margin:4px 7px;}
.spright{width: 22px;height: 22px;float: left;display: block;background-color: rgb(252,242,242);border: 1px solid rgb(217,217,217);}
.rightem{width:8px;height: 13px;display: block;background-image: url("images/icon.gif");background-position: -183px -100px;background-repeat: no-repeat;margin:4px 7px;}
.spmid{float: left;width: 30px;height: 22px;text-align: center;line-height: 22px;}

.ul_pos{margin-top: 10px;width: 380px;height: 88px;position: relative;overflow: hidden;}
.posul{width: 800px;height: 88px;position: absolute;top:0px;left: -0px;}
.upos-li{display: block;float: left;width: 67px;height: 70px;text-align: center;padding-top: 3px;margin-right: 7px;border: 1px solid #FFF;}
.upos-li:hover{border-color:rgb(217,217,217);background-color: rgb(247,247,247);}
.upos-li a{color: rgb(51,51,51);display: block;}
.activing{border: 1px solid rgb(217,217,217);background-color: rgb(247,247,247);}
.ph{display: block;}
.phspan{display: block;width: 67px;height: 20px;line-height: 20px;font-size: 12px;color: rgb(51,51,51);}

.xihuanPh{margin-top: 10px;}

.app{margin-top: 10px; display: block;width: 85px;height: 50px;float: left;border: 1px solid rgb(206,206,206);background-color: rgb(242,242,242);float: left;color: #000;}
.allapp{float: right;}
.app:hover{background-color: rgb(255,160,10);color: #FFF;}
.appspan{text-align: center;display: block;width: 27px;height: 29px;background-image: url("images/bg_line.png");background-position: -1565px -3px;background-repeat: no-repeat;margin-left: 29px;color: #000;}
.appspan1{background-position: -1445px -3px;}
.bigph{display: block;margin-top: 30px;float: left;}
.appspan2{background-position: -904px -3px;}
.appspan3{background-position: -938px -3px;}
.appspan4{background-position: -1124px -3px;}
.appspan5{background-position: -1211px -3px;}
/*seach*/

.seach-input{width: 192px;height: 16px;margin-left: 10px;margin-top: 4px;outline: none;border: none;display: block;float: left;}
.ssan{width: 20px;height: 20px;display: block;float: left;margin-top: 4px;background-image: url("images/top.png");background-repeat: no-repeat;background-position: -450px -5px;}
.gn_setting{height: 38px;display: inline-block;float: left;cursor: pointer;position: relative;}
.gn_setting1{height: 38px;display: inline-block;float: left;cursor: pointer;}
.yi a{line-height: 38px;color: #FFF;}
.gnd{width: 42px;height: 27px;}
.gn-span{display: block;width: 16px;height: 16px;background-image: url("images/bg_line.png");background-repeat: no-repeat;background-position: -225px -6px;margin-top: 11px;margin-left:  13px;}
.er{background-position: -275px -6px;}
.san{background-position: -350px -6px;}
.si{background-position: -400px -6px;}
.yi:hover{background-color: #000;}


.gn-all{width: 135px;background-color: #FFF;position: absolute;left: -93px;padding-top: 10px;display: none;border: 1px solid rgb(51,51,51);border-top: none;}
.gnaA{color: #333;display: block;width: 110px;height: 26px;padding-left: 10px;line-height: 26px;}
.gnali:hover{background-color: rgb(230,230,230);}
.gnali1{background-color: rgb(242,242,242);}
.gnaA1{display: block;width: 110px;height: 26px;padding-left: 10px;line-height: 26px;}
.gnaA1:hover{text-decoration: underline;}
.gnali2{border-top: 1px solid rgb(230,230,230);}
.gnaA2{color: #333;display: block;width: 110px;height: 26px;padding-left: 10px;line-height: 26px;}
.gnaA2:hover{text-decoration: underline;}
.lispcal{border-top: 1px solid rgb(230,230,230);}



/*main*/
.main{width: 980px;min-height: 600px;margin:0 auto;padding-top: 60px;}
#lmain{width: 150px;height: 784px;float: left;background-color: rgb(240,240,240);padding-top: 15px;}
#rightmain{width: 830px;min-height: 900px;float: right;background-color: rgb(250,250,250);}

.level_1_Box{border-bottom: 1px solid rgb(217,217,217);padding-bottom: 15px;}
.lev{width: 150px;height: 35px;}
.lev1A{padding-left: 20px;color: #333;font-size: 14px;line-height: 35px;display: block;}
.leicon{margin-top: 7px;margin-right: 10px; width: 20px;height: 20px;display: block; background-image: url("images/icon 111.gif");background-repeat: no-repeat;background-position: 0 -223px;float: left;}
.ico_myhomepage{background-position: 0 -22px;}
.ico_message{background-image: url("images/icon.gif"); background-position: 0 -25px;}
.ico_favor{background-image: url("images/icon.gif"); background-position: 0 -49px;}
.ico_sendtome{background-image: url("images/icon.gif"); background-position: 0 -74px;}
.W_new{display: block;width: 8px;height: 8px;float: right;border-radius: 4px;background-color: #e43e3e;margin-top: 8px;}
.haoyou{border-bottom: none;}
.groupList{width: 150px;min-height: 250px;}
.ico_goodfriend{background-image: url("images/icon.gif"); background-position: 0 -299px;}
.left_nav_line{width: 150px;height: 29px;}
.kong1{width: 20px;height: 1px;background-color: rgb(217,217,217);margin-top: 10px;float: left;}
.fz{width: 30px;height: 30px;display: block; float: left;padding-top: 3px;color: #808080;}
.kong2{width: 100px;height: 1px;background-color: rgb(217,217,217);margin-top: 10px;float: right;} 

.mar{margin-top: 20px;}
.levs{height: 28px;padding-left: 20px;}
.levsA{display: block;float: left;width: 130px;height: 28px;}
.spalv{border-bottom: 1px solid rgb(217,217,217);}
.levsicon{margin-right: 10px; width: 20px;height: 20px;display: block;float: left; background-image: url("images/icon.gif");background-repeat: no-repeat;background-position: 0 -324px;}
.levspan{display: block;float: left;line-height: 20px;color: #333;font-size: 12px;}
.tongyi{background-position: 0 -124px;}
.levmore{padding-left: 20px;margin-bottom: 20px;}

/*左三*/
.level_3_Box{width: 150px;height: 300px;}
.fz1{width: 50px;height: 30px;display: block; float: left;padding-top: 3px;color: #808080;}
.kong3{width: 80px;height: 1px;background-color: rgb(217,217,217);margin-top: 10px;float: right;} 


.lev3{height: 21px;padding-left: 20px;float: left;width: 130px;margin-top: 3px;}
.lev3A{display: block;height: 21px;}
.lev3img{margin-top: 3px;margin-right: 10px;display: block;float: left;}
.lev3spa{height: 21px;line-height: 21px;display: block;float: left;color: #333;}
.lebook{margin-bottom: 20px;}

.clear{clear: both;}

/*中间*/
.W_main_l{width: 600px;min-height: 900px;float: left;padding-top: 20px;}
.W_main_r{width: 229px;min-height: 600px;float: left;border-left: 1px solid rgb(217,217,217);}
#pl_content_publisherTop{width: 600px;height: 175px;}
#pl_ad_yaoyaoFans{width: 600px;height: 125px;}
#pl_content_homeFeed{min-height: 700px;}
.send_weibo{padding:0 20px 11px 20px ;width: 560px;height: 164px;}
.title_area{width: 560px;height: 24px;}
.input{width: 558px;height: 88px;margin-top: 15px;border: 1px solid rgb(204,204,204);}
.func_area{width: 560px;height: 35px;}
.sendtltle{width: 224px;height: 24px;float: left;background-image: url("images/all_iconbtn.png");background-repeat: no-repeat;}
.key{width: 324px;height: 22px;float: right;display: block;}
.key a{color: #0a8cd2;line-height: 22px;display: block;float: left;margin-left: 7px;}
.key a:hover{text-decoration: underline;}
.key1{width:324px;height:22px;float: right;display: none; }
.key1 span{line-height: 22px;color: rgb(128,128,128);float: right;}


.input_detail{width: 544px;height: 74px;margin: 2px;padding:5px;outline: none;border: none;overflow-x:hidden;overflow-y:auto;}
.kind_v2{width: 390px;height: 26px;display:block;float: left;margin-top: 5px;}
.func{width: 140px;height: 35px;float: right;}
.kindli{display: inline-block;float: left;width: 48px;height: 16px;margin-right: 8px;padding-top: 5px;}
.chang{width: 53px;}
.kindul{display: inline-block;float: left;}
.W_ico16 {background-image: url("images/icon.gif");background-position: -275px 0px;background-repeat: no-repeat;width: 16px;height: 16px;display: inline-block;float:left; }
.kindsp{display: inline-block;float: left;}
.icon_sw_img{background-position: -275px -25px;}
.icon_sw_movie{background-position: -275px -50px;}
.icon_sw_qing{background-position: -275px -100px;}
.icon_sw_chang{background-position: -275px -225px;}
.kindi{height: 26px;display: inline-block;float: left;line-height: 26px;color: rgb(128,128,128);margin-right: 5px;}
.funcspan{height: 26px;line-height: 26px;display: inline-block;float: left;color: rgb(10,140,210);}
.limits{width: 60px;height: 26px;float: left;margin-top: 15px;color: #0a8cd2;cursor: pointer;text-align: center;}
.send_btn{width: 70px;height: 26px;background-color: rgb(242, 242, 242);border: 1px solid rgb(217,217,217);float: left;text-align: center;line-height: 26px;margin-top: 10px;font-size: 14px;color: rgb(204,204,211);}

/*导航*/
.group_read{width: 560px;height: 68px;margin: 0 20px 11px 20px;}
.clearfix2{width: 560px;height: 44px;}
.tab_nosep{width: 560px;height: 22px;margin-top: 2px;}
.sort{width: 560px;height: 32px;border-bottom: 2px solid rgb(234,20,41);}
 
.item_link{width: 30px;height: 30px;padding: 0 10px;display: inline-block;font-size: 14px;line-height: 30px;text-align: center;}
.W_tabarrow_big{z-index: 800; width: 44px;height: 8px;margin: -6px 3px 0 3px;background-image: url("images/icon.png");background-position: -500px -75px;position: relative;top: 2px;background-color: #FFF;}
.right_bar{width: 302px;height: 22px;float: right;margin-top: -12px;}
.right_item{margin-left: 5px;display: block;float: left;}

.input_search{background-color: #FFF;border-radius: 24px;border: 1px solid rgb(217,217,217);}
.inner{width: 170px;height: 20px;padding: 0 10px;display: inline-block;overflow: hidden;}
.noborder{width: 124px;padding: 2px 0;height: 20px; color: gray;outline: none;border: none;float: left;}
.btn_search{width: 19px;height: 20px;display: inline-block;float: left;background-image: url("images/icon.png");background-position: -72px -172px;}
.W_vline{margin-top: 2px;display: block;float: left;}
.btn_arr{width: 12px;height: 6px;float: left;display: inline-block;color: #FFF;}
.down{display: inline-block;font-family: "SimSun";width: 12px;height: 12px;}
.W_btn_round2 {width: 88px;height: 18px;border:1px solid rgb(217,217,217);background-color: rgb(242,242,242);display: inline-block;border-radius: 12px;padding: 2px 0 0 10px;}
.icon_bytime{background-position: -150px -25px;}

.t_itm{display: inline-block;float: left;width: 44px;height: 22px;text-align: center;line-height: 22px;}
.current{background-color: rgb(230,230,230);}
.current a{color: rgb(51,51,51);}
.t_itm:hover{text-decoration: underline;}
.current:hover{text-decoration: none;}
 /*微博详情*/
.WB_feed_type{width: 560px;margin: 0 20px;padding-top: 20px;min-height: 100px;display: inline-block;}
.WB_screen{width: 560px;height: 16px;display: block;position: relative;}
.WB_feed_datail{display: block;width: 560px;min-height: 50px;}
.W_ico12{display:none;background-image: url("images/icon.gif");background-repeat: no-repeat;background-position: -75px -75px;width: 16px;height: 16px;float: right;cursor: pointer;}
.WB_face{width: 50px;height: 50px;float: left;}
.WB_detail{width: 495px;float: right;padding-bottom: 11px;border-bottom: 1px solid #E6E6E6;}
.WB_name{display: inline-block;color: #333;font-size: 14px;line-height: 16px;font-weight: bold;}
.WB_name:hover{color: #0A8CD2}
.zhuangtai{display: inline-block;width: 15px;height: 14px;}
.WB_info{display: block;min-height:15px;}
.W_ico16{margin-left: 2px;width: 15px;height: 14px;background-image: url("images/bg_line.png");background-repeat: no-repeat;background-position: -100px -25px;}
.WB_text{display: block;width: 495px;padding: 4px 0px;font-size: 14px;line-height: 23px;}

.chePicMin{display: inline-block;min-width: 36px;max-width: 120px;max-height: 120px;text-align: center;}
.WB_media_list{padding-bottom: 15px;display:block;}
.WB_media_list2{padding-bottom: 15px;display: none;}
.list_li{display: inline-block;}
.bigcursor{max-width: 120px;max-height: 120px; text-align: center;padding-right: 5px;display: inline-block;}
.bigcursor2{text-align: center;padding-right: 5px;display: inline-block;}
.WB_func{width: 495px;height: 14px;}
.WB_from{width: 300px;float: left;height: 14px}
.WB_handle{display: inline-block; float: right;height: 14px;}
.S_txt2{font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #333;}
.S_link2{color: #6CBAE4;font-size: 12px;line-height: 13px;width: auto;}
.wb_ziti{color: #0A8CD2;font-size: 12px;line-height: 13px;margin:0 3px;cursor: pointer;}
.wb_zan{display: inline-block;width: 13px;height: 14px;background-image: url("images/icon.gif");background-position: -75px 2px;background-repeat: no-repeat;}
.wb_ziti1{color: #0A8CD2;font-size: 12px;line-height: 13px;width: 14px;height: 14px;display: inline-block;}
.dianzan:hover{cursor: pointer;}
.wb_ziti:hover{text-decoration: underline;}
.wb_ziti1:hover{text-decoration: underline;}


/*头像*/
.W_layer{z-index: 1000; width:360px;height:260px;border:1px solid #333;position: absolute;top: 0px;left: 0px;display: none;background-color: #fff;}
.bigtou{width: 360px;height: 110px;background-image: url("images/tt1.jpg");}
.action{width: 360px;height: 22px;padding-top: 78px;}
.btn_item{background-color: #eee;display: inline-block;float: right;margin-right: 10px;border: 1px solid #333;color: #333;font-size: 12px;line-height: 13px;padding: 2px 7px;}
.W_chat_stat{display: inline-block;width: 9px;height: 9px;background-color: #8FDC00;}
.btspc{padding: 0 5px;}
.W_ico13{float: left; display: inline-block;width: 14px;height: 14px;background-image: url("images/icon.gif");background-position: -125px -49px;}
.guanz{display: inline-block;}
.gzs{color: #6CBAE4;cursor: pointer;}
.bts{cursor: pointer;}
.nadt{display: inline-block;float: left;}
.nadd{display: inline-block;float: left;margin-left: 5px;}
.related_info{width: 330px;height: 76px;padding:10px 10px 20px 20px;}
.name{width: 330px;height: 32px;}
.bzu{color: #0A8CD2;font-size: 12px;line-height: 14px;margin-left: 3px;margin-right: 3px;}
.picborder_r{border: 2px solid #EEE;box-shadow: #ccc 0px 0px 3px 0px;margin-top: -45px;display: inline-block;}
.male{background-position: 0 -4px;float: left;}
.yun{width: 15px;height: 15px;display: inline-block;}
.person_tab{width: 324px;padding: 9px 18px;background-color: #e9e9e9;height: 13px;}
.minzi{display: inline-block;line-height: 17px;height: 17px;float: left;}
.hehe{background-position: -100px -23px;}
.userdata li{display: inline-block;float: left;margin-right: 3px;}
.userdata{display: inline-block;margin-top: 3px;}
.info{width: 330px;height: 15px;margin-top: 10px;}
.user_info{margin-top: 6px;}
.tablist li{float: left;}
.zhspan{margin: 0 8px;}
.daren{background-position: -125px -6px;}


/*pinlun*/
.feed_list_repeat{width: 453px;padding: 10px 20px;margin-top: 10px;border: 1px solid #D9D9D9;min-height: 50px;max-height: 500px;display: none;}
.pltx{width:453px;height: 30px;overflow: hidden;}
.plface{cursor: pointer; margin-right: 5px; display: inline-block;background-image: url("images/icon.gif");background-repeat: no-repeat;background-position: -250px 0;width: 16px;height: 16px;float: left;}
.plsap{display: inline-block;margin-left: 5px;float: left;}
.box{display: inline-block;float: left;}
.action1{display: inline-block;margin-top: 15px;}
.plbtn{width: 60px;height: 30px;background-color: #FFB847 ;color: #fff;float: right;margin-top: 5px;text-align: center;line-height: 30px;cursor: pointer;}
.pl_line{height: 70px;}
.comment_list{width: 453px;border-top:1px solid #D9D9D9;display: inline-block;padding-bottom: 10px;padding-top: 10px;}
.comdt{float: left;}
.comdd{float: right;width: 410px;}
.comdda{display: inline-block;float: left;}
.cominfo{width: 410px;height: 15px;padding-top: 5px;}
.W_linkb{width: 80px;height: 15px;float: right;}
.com_span{margin-left: 3px;margin-right: 3px;}
.comhf{cursor: pointer;}


 
.WB_media_expand{width: 371px;height: 65px;padding: 15px 20px;margin-top: 30px;border: 1px solid #D9D9D9;display: none;}
.ex_pl{width: 370px;}
.plbtn2{width: 60px;height: 30px;background-color: #FFB847 ;color: #fff;float: right;margin-top: 5px;text-align: center;line-height: 30px;cursor: pointer;}
.yincan{width: 100px; height: 20px;background-color: #888;position: absolute;top: 20px;right: 0px;color: #222;text-align: center;line-height: 20px;display: none;}

