*{margin: 0;padding: 0}
li{list-style-type: none;}
a{text-decoration: none;}


body{font: 12px/1.125 Arial,Helvetica,sans-serif;background-image: url("images/body_bg.png");background-repeat:no-repeat;}

#top{width: 100%;height: 39px;background-image: url(images/bg_nav.png);border-bottom: 2px solid rgb(255,75,65);position: fixed;}
#top1{width: 980px;margin: 0 auto;height: 39px;}

#top-logo{width: 190px;height: 39px;display: block;float: left;background-image: url("images/bg_line.png");background-position: -548px -4px;}
#top-nav{width: 276px;height: 39px;float: left;position: relative;}
#top-search{width: 225px;float: left;height: 24px;margin-top: 7px;background-color: #FFF;margin-left: 10px;border-radius: 10px;position: relative;}
#top-person{width: 242px;float: left;height: 39px;padding-left: 25px;}
.title:hover{background-color: #000;}
.link{display: none;width: 190px;height: 39px;background-image: url("images/bg_line.png");background-position: -1680px -4px;}
.title{width: 67px;height: 39;float: left;text-align: center;padding-right: 2px;}
.title1{width: 67px;height: 39;float: left;text-align: center;padding-right: 2px;}
.avtive{background-color: #000;}
.title1A{background-color: #000;color: #FFF;text-align: center;line-height: 39px;font-size: 14px;display: inline-block;font-family: 微软雅黑;cursor: pointer;width: 69px;height: 38px;display: block;}
.titleA{color: #FFF;text-align: center;line-height: 39px;font-size: 14px;display: inline-block;font-family: 微软雅黑;cursor: pointer;width: 69px;height: 39px;display: block;}
/*下拉*/
.botlist{width: 568px;height: 255px;position: absolute;border: 1px solid rgb(51,51,51);border-top: none; top: 39px;left: 0px;background-color: #FFF;padding: 10px;display: none;}
.list{width: 380px;float: left;height: 268px;}
.{display: block;}

/*下拉搜索框*/
.plus{position: absolute;width: 225px;height:253px;background-color: #FFF;display: none;top: 28px;padding-top: 10px;}
.plusp{height: 22px;line-height: 22px;color: rgb(51,51,51);padding-left: 20px;cursor: pointer;}
.spcp{background-color: rgb(230,230,230);}

.enter{width: 185px;float: right;height: 268px;}
.clearfix{height: 20px;margin-left: 5px;margin-top: 10px;}
.txt1{display: block;float: left;width: 60px;height: 20px;color: #333;font-weight: bold;}
.txt2{display: block;float: left;width: 220px;height: 5px;border-bottom: 1px solid rgb(230,230,230);}
.xhtext{width: 300px;}
.txt3{display: block;float: left;width: 80px;height: 20px;margin-left: 5px;}
.spleft{width: 22px;height: 22px;float: left;display: block;background-color: rgb(252,242,242);border: 1px solid rgb(217,217,217);}
.leftem{width:8px;height: 13px;display: block;background-image: url("images/icon.gif");background-position: -175px -112px;background-repeat: no-repeat;margin:4px 7px;}
.spright{width: 22px;height: 22px;float: left;display: block;background-color: rgb(252,242,242);border: 1px solid rgb(217,217,217);}
.rightem{width:8px;height: 13px;display: block;background-image: url("images/icon.gif");background-position: -183px -100px;background-repeat: no-repeat;margin:4px 7px;}
.spmid{float: left;width: 30px;height: 22px;text-align: center;line-height: 22px;}

.ul_pos{margin-top: 10px;width: 380px;height: 88px;position: relative;overflow: hidden;}
.posul{width: 800px;height: 88px;position: absolute;top:0px;left: -0px;}
.upos-li{display: block;float: left;width: 67px;height: 70px;text-align: center;padding-top: 3px;margin-right: 7px;border: 1px solid #FFF;}
.upos-li:hover{border-color:rgb(217,217,217);background-color: rgb(247,247,247);}
.upos-li a{color: rgb(51,51,51);display: block;}
.activing{border: 1px solid rgb(217,217,217);background-color: rgb(247,247,247);}
.ph{display: block;}
.phspan{display: block;width: 67px;height: 20px;line-height: 20px;font-size: 12px;color: rgb(51,51,51);}

.xihuanPh{margin-top: 10px;}

.app{margin-top: 10px; display: block;width: 85px;height: 50px;float: left;border: 1px solid rgb(206,206,206);background-color: rgb(242,242,242);float: left;color: #000;}
.allapp{float: right;}
.app:hover{background-color: rgb(255,160,10);color: #FFF;}
.appspan{text-align: center;display: block;width: 27px;height: 29px;background-image: url("images/bg_line.png");background-position: -1565px -3px;background-repeat: no-repeat;margin-left: 29px;color: #000;}
.appspan1{background-position: -1445px -3px;}
.bigph{display: block;margin-top: 30px;float: left;}
.appspan2{background-position: -904px -3px;}
.appspan3{background-position: -938px -3px;}
.appspan4{background-position: -1124px -3px;}
.appspan5{background-position: -1211px -3px;}
/*seach*/

.seach-input{width: 192px;height: 16px;margin-left: 10px;margin-top: 4px;outline: none;border: none;display: block;float: left;}
.ssan{width: 20px;height: 20px;display: block;float: left;margin-top: 4px;background-image: url("images/top.png");background-repeat: no-repeat;background-position: -450px -5px;}
.gn_setting{height: 38px;display: inline-block;float: left;cursor: pointer;position: relative;}
.gn_setting1{height: 38px;display: inline-block;float: left;cursor: pointer;}
.yi a{line-height: 38px;color: #FFF;}
.gnd{width: 42px;height: 27px;}
.gn-span{display: block;width: 16px;height: 16px;background-image: url("images/bg_line.png");background-repeat: no-repeat;background-position: -225px -6px;margin-top: 11px;margin-left:  13px;}
.er{background-position: -275px -6px;}
.san{background-position: -350px -6px;}
.si{background-position: -400px -6px;}
.yi:hover{background-color: #000;}


.gn-all{width: 135px;background-color: #FFF;position: absolute;left: -93px;padding-top: 10px;display: none;border: 1px solid rgb(51,51,51);border-top: none;}
.gnaA{color: #333;display: block;width: 110px;height: 26px;padding-left: 10px;line-height: 26px;}
.gnali:hover{background-color: rgb(230,230,230);}
.gnali1{background-color: rgb(242,242,242);}
.gnaA1{display: block;width: 110px;height: 26px;padding-left: 10px;line-height: 26px;}
.gnaA1:hover{text-decoration: underline;}
.gnali2{border-top: 1px solid rgb(230,230,230);}
.gnaA2{color: #333;display: block;width: 110px;height: 26px;padding-left: 10px;line-height: 26px;}
.gnaA2:hover{text-decoration: underline;}
.lispcal{border-top: 1px solid rgb(230,230,230);}



/*main*/
.main{width: 980px;min-height: 600px;margin:0 auto;padding-top: 60px;}
#lmain{width: 150px;height: 784px;float: left;background-color: rgb(240,240,240);padding-top: 15px;}
#rightmain{width: 830px;min-height: 900px;float: right;background-color: rgb(250,250,250);}

.level_1_Box{border-bottom: 1px solid rgb(217,217,217);padding-bottom: 15px;}
.lev{width: 150px;height: 35px;}
.lev1A{padding-left: 20px;color: #333;font-size: 14px;line-height: 35px;display: block;}
.leicon{margin-top: 7px;margin-right: 10px; width: 20px;height: 20px;display: block; background-image: url("images/icon 111.gif");background-repeat: no-repeat;background-position: 0 -223px;float: left;}
.ico_myhomepage{background-position: 0 -22px;}
.ico_message{background-image: url("images/icon.gif"); background-position: 0 -25px;}
.ico_favor{background-image: url("images/icon.gif"); background-position: 0 -49px;}
.ico_sendtome{background-image: url("images/icon.gif"); background-position: 0 -74px;}
.W_new{display: block;width: 8px;height: 8px;float: right;border-radius: 4px;background-color: #e43e3e;margin-top: 8px;}
.haoyou{border-bottom: none;}
.groupList{width: 150px;min-height: 250px;}
.ico_goodfriend{background-image: url("images/icon.gif"); background-position: 0 -299px;}
.left_nav_line{width: 150px;height: 29px;}
.kong1{width: 20px;height: 1px;background-color: rgb(217,217,217);margin-top: 10px;float: left;}
.fz{width: 30px;height: 30px;display: block; float: left;padding-top: 3px;color: #808080;}
.kong2{width: 100px;height: 1px;background-color: rgb(217,217,217);margin-top: 10px;float: right;} 

.mar{margin-top: 20px;}
.levs{height: 28px;padding-left: 20px;}
.levsA{display: block;float: left;width: 130px;height: 28px;}
.spalv{border-bottom: 1px solid rgb(217,217,217);}
.levsicon{margin-right: 10px; width: 20px;height: 20px;display: block;float: left; background-image: url("images/icon.gif");background-repeat: no-repeat;background-position: 0 -324px;}
.levspan{display: block;float: left;line-height: 20px;color: #333;font-size: 12px;}
.tongyi{background-position: 0 -124px;}
.levmore{padding-left: 20px;margin-bottom: 20px;}

/*左三*/
.level_3_Box{width: 150px;height: 300px;}
.fz1{width: 50px;height: 30px;display: block; float: left;padding-top: 3px;color: #808080;}
.kong3{width: 80px;height: 1px;background-color: rgb(217,217,217);margin-top: 10px;float: right;} 


.lev3{height: 21px;padding-left: 20px;float: left;width: 130px;margin-top: 3px;}
.lev3A{display: block;height: 21px;}
.lev3img{margin-top: 3px;margin-right: 10px;display: block;float: left;}
.lev3spa{height: 21px;line-height: 21px;display: block;float: left;color: #333;}
.lebook{margin-bottom: 20px;}

.clear{clear: both;}

/*中间*/
.W_main_l{width: 600px;min-height: 900px;float: left;padding-top: 20px;}
.W_main_r{width: 229px;min-height: 600px;float: left;border-left: 1px solid rgb(217,217,217);}
#pl_content_publisherTop{width: 600px;height: 175px;}
#pl_ad_yaoyaoFans{width: 600px;height: 125px;}
#pl_content_homeFeed{min-height: 700px;}
.send_weibo{padding:0 20px 11px 20px ;width: 560px;height: 164px;}
.title_area{width: 560px;height: 24px;}
.input{width: 558px;height: 88px;margin-top: 15px;border: 1px solid rgb(204,204,204);}
.func_area{width: 560px;height: 35px;}
.sendtltle{width: 224px;height: 24px;float: left;background-image: url("images/all_iconbtn.png");background-repeat: no-repeat;}
.key{width: 320px;height: 22px;float: right;}
.key a{color: #0a8cd2;}