*{margin: 0;padding: 0}
li{list-style-type: none;}
a{text-decoration: none;}


body{font: 12px/1.125 Arial,Helvetica,sans-serif;background-image: url("images/body_bg.png");background-repeat:no-repeat;}

#top{width: 100%;height: 39px;background-image: url(images/bg_nav.png);border-bottom: 2px solid rgb(255,75,65);}
#top1{width: 980px;margin: 0 auto;height: 39px;}

#top-logo{width: 190px;height: 39px;display: block;float: left;background-image: url("images/bg_line.png");background-position: -548px -4px;}
#top-nav{width: 276px;height: 39px;float: left;position: relative;}
#top-search{width: 225px;float: left;height: 24px;margin-top: 7px;background-color: #FFF;margin-left: 10px;border-radius: 10px;}
#top-person{width: 242px;float: left;height: 39px;padding-left: 25px;}
.link{display: none;width: 190px;height: 39px;background-image: url("images/bg_line.png");background-position: -1680px -4px;}
.title{width: 67px;height: 39;float: left;text-align: center;padding-right: 2px;}
.title1{width: 67px;height: 39;float: left;text-align: center;padding-right: 2px;}
.avtive{background-color: #000;}
.title1A{background-color: #000;color: #FFF;text-align: center;line-height: 39px;font-size: 14px;display: inline-block;font-family: 微软雅黑;cursor: pointer;width: 69px;height: 38px;display: block;}
.titleA{color: #FFF;text-align: center;line-height: 39px;font-size: 14px;display: inline-block;font-family: 微软雅黑;cursor: pointer;width: 69px;height: 39px;display: block;}
/*下拉*/
.botlist{width: 568px;height: 268px;position: absolute;border: 1px solid rgb(51,51,51);top: 39px;left: 0px;background-color: #FFF;padding: 10px;display: none;}
.list{width: 380px;float: left;height: 268px;}
.{display: block;}

.enter{width: 185px;float: right;height: 268px;}
.clearfix{height: 20px;margin-left: 5px;margin-top: 10px;}
.txt1{display: block;float: left;width: 60px;height: 20px;color: #333;font-weight: bold;}
.txt2{display: block;float: left;width: 220px;height: 5px;border-bottom: 1px solid rgb(230,230,230);}
.xhtext{width: 300px;}
.txt3{display: block;float: left;width: 80px;height: 20px;margin-left: 5px;}
.spleft{width: 22px;height: 22px;float: left;display: block;background-color: rgb(252,242,242);border: 1px solid rgb(217,217,217);}
.leftem{width:8px;height: 13px;display: block;background-image: url("images/icon.gif");background-position: -175px -112px;background-repeat: no-repeat;margin:4px 7px;}
.spright{width: 22px;height: 22px;float: left;display: block;background-color: rgb(252,242,242);border: 1px solid rgb(217,217,217);}
.rightem{width:8px;height: 13px;display: block;background-image: url("images/icon.gif");background-position: -183px -100px;background-repeat: no-repeat;margin:4px 7px;}
.spmid{float: left;width: 30px;height: 22px;text-align: center;line-height: 22px;}

.ul_pos{margin-top: 10px;width: 380px;height: 88px;position: relative;overflow: hidden;}
.posul{width: 800px;height: 88px;position: absolute;top:0px;left: -0px;}
.upos-li{display: block;float: left;width: 67px;height: 70px;text-align: center;padding-top: 3px;margin-right: 8px;border: 1px solid #FFF;}
.upos-li:hover{border-color:rgb(217,217,217);background-color: rgb(247,247,247);}
.upos-li a{color: rgb(51,51,51);display: block;}
.activing{border: 1px solid rgb(217,217,217);background-color: rgb(247,247,247);}
.ph{display: block;}
.phspan{display: block;width: 67px;height: 20px;line-height: 20px;font-size: 12px;color: rgb(51,51,51);}

.xihuanPh{margin-top: 10px;}

.app{display: block;width: 85px;height: 50px;float: left;border: 1px solid rgb(206,206,206);background-color: rgb(242,242,242);float: left;background-image: url("images/bg_line.png");background-position: -904px -3px;background-repeat: no-repeat;}
.allapp{display: block;width: 85px;height: 50px;float: left;border: 1px solid rgb(206,206,206);background-color: rgb(242,242,242);float: right;}
.app:hover{background-color: rgb(255,160,10);}


/*seach*/

.seach-input{width: 192px;height: 16px;margin-left: 10px;margin-top: 4px;outline: none;border: none;display: block;float: left;}
.ssan{width: 20px;height: 20px;display: block;float: left;margin-top: 4px;background-image: url("images/top.png");background-repeat: no-repeat;background-position: -450px -5px;}
.gn_setting{height: 38px;display: inline-block;float: left;cursor: pointer;}
.gn_setting a{line-height: 38px;color: #FFF;}
.gnd{width: 42px;height: 27px;}
.gn-span{display: block;width: 16px;height: 16px;background-image: url("images/bg_line.png");background-repeat: no-repeat;background-position: -225px -6px;margin-top: 11px;margin-left:  13px;}
.er{background-position: -275px -6px;}
.san{background-position: -350px -6px;}
.si{background-position: -400px -6px;}