*{margin:0;padding: 0;}
a{text-decoration:none;}
li{list-style-type: none;}

body{position: relative;font: 12px/1.33 Verdana,"宋体",Helvetica,sans-serif;}
.All{height: 100%;background:url("images/bg_body_right_2.jpg") no-repeat right 0;position: relative;overflow: hidden;}
.header{height: 47px;color: #404040;}

.Logo{width: 170px;height: 47px;float: left;}
.Logo a{display: block;width: 170px;height: 47px;background-image: url("images/logo_1.jpg");}
.paneFun{position: absolute;height: 21px;top: 15px;right: 24px;z-index: 999;}
.paneLogin{margin-top: 1px;padding-left: 18px;border-left: 1px solid #BEBEBE;display: inline-block;}
.mailAdress{color: #000;}

.selectArrow{display:inline-block;background-image: url("images/homeHeaderRight24.png");background-repeat: no-repeat;background-position: -223px 0;width: 7px;height: 4px;margin-bottom: 2px;}
.panehelp{float: left;}
.paneHome{background-image: url("images/homeHeaderRight24.png");background-repeat: no-repeat;width: 21px;height: 21px;float: left;margin-right: 29px;}
.paneset{width: 21px;height: 21px;background-image: url("images/homeHeaderRight24.png");background-repeat: no-repeat;background-position: -49px 0;float: left;margin-right: 29px;}
.paneAsk{background-image: url("images/homeHeaderRight24.png");background-repeat: no-repeat;width: 21px;height: 21px;background-position: -97px 0;float: left;margin-right: 29px;}
.bubbleGuide{display: inline-block;width: 18px;height: 21px;background-image: url("images/bubble.gif");position: absolute;left: 1030px;top: 0px;}
.pane_search{position: absolute;width: 370px;height: 25px;left: 175px;top: 12px;border:1px solid #BBB;}
.inputTxt{border: none;padding-left: 10px;width: 280px;height: 20px;margin-top: 2px;}
.btn{width: 49px;height: 25px;background-image: url("images/sg_picskin.gif");background-position: 0 -60px;border: none;float: right;}
.more{width: 22px;height: 25px;display: inline-block;float: right;background-image: url("images/sg_picskin.gif");background-position: -60px -60px;}
.wui_TipInfoBar{position: absolute;height: 16px;width: 100%;top: 0;left: 0;text-align: center;display: none;}
.wui_TipInfoBar span{display: inline-block;background-color: #f00;color:#FFF;padding: 2px 10px;line-height:16px;}
.wui_Dialog{width: 408;height: 346px;position: absolute;top: 125px;left: 478px;background-color: #FFF;border: 1px solid #CCC;display: none;}
.head{height: 29px;width: 100%;background-image: url("images/popwintitbg.png");cursor: move;}
.head label{color: #333;font-weight: bold;line-height: 29px;float: left;padding-left: 10px;}
.close{display: inline-block;float: right;background-image: url("images/icon.gif");background-position: -60px -240px;width: 9px;height: 10px;margin: 10px 10px 0 0;cursor: pointer;}
.body{width: 368px;height: 289px;padding: 24px 20px 14px 20px;}
.layout{width: 300px;}
.tr{min-height: 24px;padding-bottom: 10px;line-height: 24px;}
.th{width: 114px;float: left;text-align: right;padding-right: 6px;}
.txt{float: left;}
.td{float: left;margin-right: 13px;}
.iptxt{width: 141px;height: 24px;}
.check{width: 130px;height: 48px;float: left;}
.chbox{float: left;margin-top: 6px;margin-right: 6px;}
.spe{padding-top: 20px;}
.settime{width: 141px;margin-top: 5px;}
.mailbtn{width: 48px;height: 26px;margin: 10px auto;padding:0 5px;line-height: 26px;background:url("images/bitbtn.png") repeat-x scroll -4px 0px transparent;border-left: 1px solid #C4C4C4;border-right: 1px solid #C4C4C4;}
.mailbtn:hover{background-position: -4px -28px;cursor: pointer;}
.mengban{width: 100%;height: 100%;}
.mb{width: 100%;height: 100%;position: absolute;top: 0;left: 0;display: none;}



/*主体*/
#bdy{width: 100%;height: 583px;overflow: hidden;}
.sider{width: 170px;float: left;margin-right: 5px;}
.coreBtn{width: 170px;height: 83px;overflow: hidden;background: url("images/sg_picskin.gif") no-repeat scroll 0px -90px transparent;}
.li1{height: 20px;padding:4px 10px;}
.li1A{padding-left: 10px;display: block;width: 140px;height: 18px;padding-top: 2px}
.iconTrans16{width: 16px;height: 16px;display: inline-block;background-image: url("images/icon.gif");background-repeat: no-repeat;background-position: -200px -120px;float: left;margin-top: 2px;margin-right: 12px;}
.li1 span{float: left;display: inline-block;font-size: 14px;color: #222;font-weight: bold;}
.li1A:hover{background-color: rgb(224,224,224);}
.shou{background-position: -220px -120px;}
.person{background-position: -240px -120px;}
.folderlist{width: 169px;height: 500px;border-right: 1px solid #c9c9c9;background-color: #fbfbfb;}
.folderlist2{height: 154px;}
.FolderListBg1{padding:4px 4px 0 4px;width: 161px;height: 150px;}
.FolderListBg2{padding:4px 4px 0 4px;width: 161px;}
.normal{padding-left: 15px;}
.default{display: block;width: 121px;height: 24px;line-height: 24px;color: #333;}
.normal:hover{background-color:rgb(229,239,250); }
.dx{height: 1px;background-color: rgb(211,211,211);}
.lispc{margin-bottom:5px;}
.folderlist_down{overflow: auto;}
.first{height: 24px;}
.ff_nodeopen{display: inline-block;width: 12px;height: 12px;background-image: url("images/sg_picskin.gif");background-repeat:no-repeat;float: left;margin-top: 4px;background-position: 0 0;}
.option{display: inline-block;height: 19px;float: right;padding-top: 4px;}
.default2{display: inline-block;float: left;color: #222;}
.folder_add{background-image: url("images/sg_picskin.gif");background-repeat:no-repeat;background-position: -30px 0;display: inline-block;width: 12px;height: 12px;}
.folder_list{background-image: url("images/sg_picskin.gif");background-repeat:no-repeat;background-position: -60px 0;display: inline-block;width: 12px;height: 12px;}
.filter_manage{background-image: url("images/sg_picskin.gif");background-repeat:no-repeat;background-position: -75px 0;display: inline-block;width: 12px;height: 12px;}
.first:hover{background-color: rgb(229,239,250);}
.normalLine{height: 1px;background-color: #EEE;margin: 5px 0 5px 15px;}
.icon_file{display: inline-block;width: 16px;height: 16px;background-image: url("images/sg_picskin.gif");background-position: 0 -120px;}
